:root {
    --myMouseY: 100px;
    --myMouseX: 100px;

    --dfcGreen: #A4FFA3;
  }

body {
    margin: 0;
    font-family: "DegularDisplay";
    font-weight: normal;
}

@font-face {
    font-family: "DegularDisplay";
    src: url(/fonts/DegularDisplay-Regular.otf);
    font-weight: 400;
  }

@font-face {
    font-family: "DegularDisplay";
    src: url(/fonts/DegularDisplay-Semibold.otf);
    font-weight: 600;
 }
  
/* Navigation */
  
.navElement {
    font-family: "DegularDisplay", arial, sans-serif;;
    font-weight: 600;
    font-size: 25px;
    margin-left: 5px;
    padding: 7px 25px 10px 25px;
    border-style: solid;
    border:  2px solid;
    border-radius: 50px;
  }

/* Keyvisual */

.cta-Button {
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    top: var(--myMouseY);
    left: var(--myMouseX);
    margin-top: -17px;
    margin-left: -17px;
}

.toggle {
    font-size: 25px;
    margin: 0;
    padding: 0;
    background: none;
    outline: inherit;
    border: none;
    color: white;
    cursor: none;
}

.roundStyle {
    font-family: Degular;
    font-size: 30px;
    margin: 0;
    margin-left: 10px;
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
}

.border {
    border:  2px solid;
}

.label {    
    background-color: white;
}

.input {
    background-color: white;
}

.joinButton {
    font-family: "Degular", arial, sans-serif;;
    font-weight: bold;
    display: none; 
    color: black;
    padding: 3px 25px 6px 25px;
    background-color: var(--dfcGreen);
}